.iconoMasMenos {
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  color: lightseagreen;
}

.colorFondoBlanco {
  background-color: white;
  border-color: green;
  text-align: center;
  color: black;
}

.texto-verde {
  color: #79cd84;
}

.texto-naranja {
  color: #ff9650;
}
